@model Personmodel
@{
  ViewData["Title"] = "contact";
}
<head>
  <title>
    Contact
  </title>
</head>
<h1>contact</h1>

<!--Contactformulier-->
@if (ViewData["formsucces"] != "ök")
{
  <div class="formulier">
    <form method="post">
      <!--Voornaam-->
      <div class="row">
        <div class="col-25">
          <label for="voornaam">Voornaam</label>
        </div>
        <div class="col-75">
          <input type="text" name="voornaam" placeholder="Voornaam" /> <br />
        </div>
      </div>
      <!--Achternaam-->
      <div class="row">
        <div class="col-25">
          <label for="achternaam">Achternaam</label>
        </div>
        <div class="col-75">
          <input type="text" name="achternaam" placeholder="Achternaam" /> <br />
          <!--Check if niet leeg-->
          @Html.ValidationMessageFor(m => m.Achternaam)<br />
        </div>
      </div>
      <!--Email-->
      <div class="row">
        <div class="col-25">
          <label for="email">E-mail</label>
        </div>
        <div class="col-75">
          <input type="text" name="email" placeholder="E-mail" /> <br />
          <!--Check if email en niet leeg-->
          @Html.ValidationMessageFor(m => m.Email)<br />
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="bericht">Bericht</label>
        </div>
        <div class="col-75">
          <textarea type="text" name="bericht" placeholder="Bericht"></textarea>
          <br />
          <!--Check if niet leeg-->
          @Html.ValidationMessageFor(m => m.Bericht)<br />
        </div>
      </div>
      <!--Submit buttons-->
      <div class="row row-button">
        <div class="submit">
          <input class="btn-primary btn-lg" type="submit" value="verstuur" />
        </div>
      </div>
    </form>
  </div>
}
<!--Bericht na versturen-->
@if (ViewData["formsucces"] == "ök")
{
  <p>Uw gegevens zijn verstuurd <br> bedankt voor het invullen!!</p>
}