@using SchoolTemplate.Database
@model Festival
@{
  ViewData["Title"] = "Festival";
  List<Festival> artiesten = ViewData["artiesten"] as List<Festival>;
}

<h1>@Model.Naam</h1>
<p>@Model.Beschrijving</p>

<h3>artiesten</h3>

@foreach (Artiest artiest in Model.Artiesten)
{
  <h3>@artiest.Dag1Act</h3>
}