@using SchoolTemplate.Database
@model HuisregelsFAQViewModel
@{
  ViewData["Title"] = "HuisregelsFAQ";
}
<div class="Huisregels">
  <h2>Huisregels</h2>
  @foreach (Huisregel huisregel in Model.huisregels)
  {
    <button class="accordion">@huisregel.Regel</button>
    <div class="panel">
      <p>@huisregel.Toelichting</p>
    </div>
  }
</div>


<div class="FAQ">
  <h2>FAQ</h2>
  @foreach (FAQ faq in Model.faqs)
  {
    <button class="accordion">@faq.FAQtekst</button>
    <div class="panel">
      <p>@faq.antwoord</p>
    </div>
  }

</div>

<script>
  var acc = document.getElementsByClassName("accordion");
  var i;

  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function () {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.display === "block") {
        panel.style.display = "none";
      } else {
        panel.style.display = "block";
      }
    });
  }</script>