@using SchoolTemplate.Database;
@model List<Festival>
@{
    ViewData["Title"] = "Home Page";
}

<div class="cover-foto">
<img src="/Fotos/coverfoto.png" class="img-fluid" alt="Responsive image">
</div>

<div class="text-center">
    <h1>De logtenberg</h1>
    <p>"Een prachtige locatie voor een prachtig feestje"</p>
</div>


<div class="card-group">
    @foreach (Festival f in Model)
    {

        <div class="card" class="rounded">
                <img class="card-img-top" src=@f.Plaatje
                     alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            <div class="card-body">
                <h4 class="card-title">@f.Naam</h4>

                <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the card's
                    content.
                </p>
                <a href="#" class="btn btn-primary">Lees meer</a>
            </div>

        </div>

    }
</div>
