@using SchoolTemplate.Database;
@model List<Festival>
@{
    ViewData["Title"] = "Home Page";
}


<img src="/Fotos/coverfoto.png" alt="coverfoto">

<div class="text-center">
    <h1 class="display-4">De logtenberg</h1>
    <p>"Een prachtige locatie voor een prachtig feestje"</p>
</div>


