@using SchoolTemplate.Database;
@model List<Product>
@{
  ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <h1 class="display-4">De logtenberg</h1>
    <p>"Een prachtige locatie voor een prachtig feestje"</p>
</div>