@using SchoolTemplate.Database;
@model List<Festival>
@{
  ViewData["Title"] = "Home Page";
}


<img src="/Fotos/coverfoto.png" alt="coverfoto">

<div class="text-center">
  <h1 class="display-4">De logtenberg</h1>
  <p>"Een prachtige locatie voor een prachtig feestje"</p>
</div>



@foreach (Festival f in Model)
{
  <div class="card">

    <div class="view overlay">
      <img class="card-img-top" src=@f.Plaatje
           alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>


    <div class="card-body">

      <h4 class="card-title">@f.Naam</h4>

      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk of the card's
        content.
      </p>
      <a href="#" class="btn btn-primary">Button</a>

    </div>

  </div>
}


