<head>
  <title>
    Transport
  </title>
</head>

<div class="transport-header">
  <h1>Locatie: Vaalserburg, Limburg</h1>
  <h4>
    Viergrenzenweg 976291 BM Vaals
  </h4>
</div>

<!--Prijzen Transport-->
<div class="transport-text">
  <h3>
    <strong>Parkeren</strong>: €7,50 per dag <br />
    <strong>Fietsenstalling</strong>: Gratis! <br />
    <strong>Dichtsbijzijnde station</strong>: Vaals, Escberg
  </h3>
</div>

<!--Knop naar 9292 website-->
<div class="d-flex justify-content-center">
  <div class="transportbutton">
    <a href="https://9292.nl/" target="_blank" class="btn btn-primary  btn-lg btn-block">Plan je reis!</a>
  </div>
</div>

<!--Interactive google maps kaart van de omgeving-->
<div class="map-responsive">
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d19616.77883932132!2d4.3856341!3d52.0779576!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c090afca22eeaf%3A0x56755ab65aab91a1!2sVaalserberg!5e0!3m2!1snl!2snl!4v1602789260210!5m2!1snl!2snl"
          width="100%" height="450"></iframe>
</div>