<div class="transport-header">
  <h1>Locatie: Vaalserburg, Limburg</h1>
  <h4>
    Viergrenzenweg 976291 BM Vaals
  </h4>
</div>

<h3>
  Parkeren: €7,50 per dag <br />
  Fietsenstalling: Gratis! <br />
  Dichtsbijzijnde station: Vaals, Escberg
</h3>

<div class="d-flex justify-content-center" ">
  <div class="transportbutton">
    <a href="https://9292.nl/" target="_blank" class="btn btn-primary  btn-lg btn-block">Plan je reis!</a>
  </div>
</div>

<div id="map">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5347.110345882835!2d6.0016867416990225!3d50.76630457418219!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c090afca22eeaf%3A0x56755ab65aab91a1!2sVaalserberg!5e0!3m2!1snl!2snl!4v1602774839564!5m2!1snl!2snl" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>