body {
    background-color: #2CA1E9;
    font-family: 'Titillium Web', sans-serif;
}

.navbar-custom {
    background-color: #2CA1E9;
    border-color: #E7E7E7;
}

ul.topnav li a {
    display: block;
    color:black;
    text-align: center;
    padding: 14px 16px;
}

.footer {
    width: 100%;
    height: 100px;
    border-top-style: solid;
    border-top-color: #FFF;
}


.footer-fotos {
    list-style: none;
    text-decoration: none;
    display: inline-block;

    position: relative;
}

.footer-foto {
    width : 100px;
    height : 100px;
    padding: 5%;
}

.footer-tekst {
    text-align: center;
}

.website-logo {
    height: 10%;
    width: 10%;
}

.display-4 {
    width: auto;
}

.card-group > .card {
    flex: 40%;
    background-color: #166BE7;
    border-radius: 44px !important;
}

.card {
    border: 0 !important;
    border-radius: 44px !important;
    margin-right: 5%;
    margin-bottom: 5% !important;
    text-align: center;
}

.card-group {
    margin-left: 5%;
}

.btn-primary {
    background-color: white;
    color: black !important;
}


.transport-header {
  padding-bottom: 7.5%;
  padding-top: 7.5%;
  background-color: #00EEFF;
  text-align: center;
}

img {
    width: 100%;
}

.card-body-header {
    display: flex;
}

.festival-card-img {
    width:150px;
    heigth:150px;
}

.card-text {
    max-width:200px;
}

.map {
  align-content: center;
}