body {
    background-color: #2CA1E9;
}

ul.topnav {
    list-style-type: none;
    overflow: hidden;
    background-color: #2c7be9;
    margin-bottom: 0px;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color:black;
    text-align: center;
    padding: 14px 16px;
}

ul.topnav li.right {
    float: right;
}

.footer-fotos {
    width : 10%;

}

.footer-tekst {
    text-align: center;
}

img {
    width: 10%;
}