body {
  background-color: #2CA1E9;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 900;
}

.navbar-custom {
  background-color: #2CA1E9;
  border-color: #E7E7E7;
}

ul.topnav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
}

footer {
  padding-top: 20px;
  width: 100%;
  height: 100px;
  border-top: solid black 2px;

}


.footer-fotos {
  list-style: none;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.footer-foto {
  width: 100px;
  height: 100px;
  padding: 5%;
}

.footer-tekst {
  margin: auto;
  text-align: center;
}

.website-logo {
  max-width: 3rem;
  flex-grow: 1;
  flex-basis: 0;
}

.nav-link {
  height: 10%;
  width: auto;
}

.display-4 {
  width: auto;
}

.card-group-index > .card-group > .card {
  border-radius: 44px !important;
  border: 0 !important;
  border-radius: 44px !important;
  margin-right: 5%;
  margin-bottom: 5% !important;
}

.card-group-index > .card-group {
  margin-left: 5%;
  padding-top: 5%;
}

.btn-primary {
  background-color: #19FFCF;
  color: black !important;
  transition: transform .2s;
  margin-top: 5%;
  border-color: #19FFCF;
}

  .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: #19FFCF !important;
    border: none !important;
    transform: scale(1.05);
  }


.transport-header {
  padding-bottom: 7.5%;
  padding-top: 7.5%;
  background-color: #00EEFF;
  text-align: center;
}

img {
  width: 100%;
}

.card-body-header {
  display: flex;
  min-height: 180px;
  font-weight: 500
}

.festival-card-img {
  width: 150px;
  height: 150px;
}

.card-text {
  max-width: 200px;
  margin-left: 15px;
}

.map-responsive {
  overflow: hidden;
  position: relative;
}

  .map-responsive iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }


.justify-content-center {
  margin-top: 5%;
  margin-bottom: 5%;
}

.transport-text {
  margin-left: 20px;
}

.header-index {
  background-color: #00EEFF;
  padding-bottom: 2.5%;
  padding-top: 2.5%;
}

.navbar-nav {
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

textarea {
  height: 200px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  border: none;
  float: right;
}

.formulier {
  border-radius: 5px;
  padding: 30px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 50%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.scrollbox {
  overflow: auto;
  height: 200px;
  width: 200px;
}

.card-festival-group {
  flex: 30%;
  flex-direction: row;
}

.card-group-festival > .card-group > .card {
  text-align: center;
  flex: 50%;
}

.festival-foto {
  width: 40%;
  margin: auto;
  margin-top: 5%;
}


/*Festivalpagina card colours*/
.card-group-festival > .card-group .card:nth-child(1) {
  background-color: #176CE8;
  color: white;
}

.card-group-festival > .card-group .card:nth-child(2) {
  background-color: #00EEFF;
}

.card-group-festival > .card-group .card:nth-child(3) {
  background-color: #00EEFF;
}

.card-group-festival > .card-group .card:nth-child(4) {
  background-color: #176CE8;
  color: white;
}

@media screen and (max-width: 575px) {
  .card-group-festival > .card-group .card:nth-child(1) {
    background-color: #176CE8;
    color: white;
    margin: 0px;
  }

  .card-group-festival > .card-group .card:nth-child(2) {
    background-color: #00EEFF;
    margin: 0px;
  }

  .card-group-festival > .card-group .card:nth-child(3) {
    background-color: #176CE8;
    color: white;
    margin: 0px;
  }

  .card-group-festival > .card-group .card:nth-child(4) {
    background-color: #00EEFF;
    color: black;
        margin: 0px;

  }
}



/*index pagina card colours*/
/*Woohah*/
.card-group-index > .card-group .card:nth-child(1) { 
  background-color: #166BE7;
  color: white;
}



/*Lowlands*/
.card-group-index > .card-group .card:nth-child(2) {
  background-color: #00EEFF;
}

/*pinkpop*/
.card-group-index > .card-group .card:nth-child(3) {
  background-color: #00EEFF;
}

/*hockeyloverz*/
.card-group-index > .card-group .card:nth-child(4) {
  background-color: #166BE7;
  color: white;
}
/*dgtl*/
.card-group .card:nth-child(5) {
  background-color: #166BE7;
  color: white;
}
/*AOA*/
.card-group .card:nth-child(6) {
  background-color: #00EEFF;
}

@media screen and (max-width: 920px) {

  .card-group-index > .card-group .card:nth-child(1) {
    background-color: #166BE7;
    color: white;
  }

  .card-group-index > .card-group .card:nth-child(2) {
    background-color: #00EEFF;
  }

  .card-group-index > .card-group .card:nth-child(3) {
    background-color: #166BE7;
    color: white;
  }

  .card-group-index > .card-group .card:nth-child(4) {
    background-color: #00EEFF;
    color: black;
  }

  .card-group .card:nth-child(5) {
    background-color: #166BE7;
    color: white;
  }

  .card-group .card:nth-child(6) {
    background-color: #00EEFF;
  }
}

.card-group > .card {
  flex: auto;
}

.scrollbox {
  width: auto;
  height: auto;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

  .active, .accordion:hover {
    background-color: #ccc;
  }


.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

}

.h1, h1 {
  text-align: center;
}

.row-button {
  justify-content: flex-end;
}

.beschrijving {
  margin: auto;
}



.index-card {
  min-width: 23rem;
}

festival-card-text {
  margin-left: 15px;
}

.card-title {
  margin-left: 10px;
}

.scrollbox{
  max-height: 300px;
}

.artiestdag{
  text-align: left;
  margin-top: 10px;
  margin-left: 20%;
  font-weight: 900;
  font-size: 30px;
}

.artiestlijst {
  text-align: left;
  margin-left: 40%;
  font-size: 25px;
}

.artiestheader {
  margin-top: 10px;
  font-weight: 900;
}

.card-group-hfaq > .card-group > .card {
    text-align: center;
    flex: 50%;
}