<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="~/css/site.css" />
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet">
  <link rel="icon" type="image/png" href="~/Fotos/websitelogo2.png" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <title>De Logtenberg</title>
</head>


<body>
    <nav class="navbar navbar-expand-lg navbar-light navbar-custom">
        <div class="navbar-nav">
            <div class="nav-item">
                <img class="website-logo" src="~/Fotos/websitelogo2.png" alt="websitelogo" href="/">
            </div>
            <div class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </div>
            <div class="nav-item">
                <a class="nav-link" href="/Transport">Transport</a>
            </div>
            <div class="nav-item">
                <a class="nav-link" href="/Contact">Contact</a>
            </div>
            <div class="nav-item">
                <a class="nav-link" href="/HuisregelsFAQ">Huisregels en FAQ</a>
            </div>
        </div>

    </nav>

    @RenderBody()
</body>

</html>

<footer>
    <u1 class="page-footer">
        <div class="footer-tekst">
            <h3> Social Media</h3>
        </div>
        <center>
            <div class="footer-fotos">
              <a href="https://www.instagram.com/" target="_blank">
                <img class="footer-foto" src="/Fotos/instagram.png" alt="instagram">
                <a href="https://nl-nl.facebook.com/" target="_blank">
                  <img class="footer-foto" src="/Fotos/facebook.png" alt="facebook">
                  <a href="https://twitter.com/home" target="_blank">
                    <img class="footer-foto" src="/Fotos/twitter.png" alt="twitter">
                    
                    <a href="https://mail.google.com/mail/u/0/" target="_blank">
                      <img class="footer-foto" src="/Fotos/email.png" alt="email">
</div>
        </center>
</footer>


