<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="~/Fotos/websitelogo2.png"/>
    <title>De Logtenberg</title>
</head>


<body>
    <ul class="topnav">
        <li class="right"><a href="/"><img class="website-logo" src="~/Fotos/websitelogo2.png" alt="websitelogo"></a></li>
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/Transport">Transport</a></li>
        <li><a href="/Contact">Contact</a></li>
        <li class="left"><a href="/HuisregelsFAQ">Huisregels en FAQ</a></li>
    </ul>
    @RenderBody()
</body>

</html>

<footer> 
    <u1 class="page-footer">
        <div class="footer-tekst">
            <h3> Social Media</h3>
        </div>
        <center>
            <div class="footer-fotos">
                <img class="footer-foto" src="/Fotos/instagram.png" alt="instagram">
                <img class="footer-foto" src="/Fotos/facebook.png" alt="facebook">
                <img class="footer-foto" src="/Fotos/twitter.png" alt="twitter">
                <img class="footer-foto" src="/Fotos/email.png" alt="email">
        </div>
        </center>
</footer>


